main {
    background-color:fuchsia;
}

#entrada {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.botoes {

}

footer {
    background-color: red;
}

.listaAluno {
    background-color:indigo;
    margin-right: 52%;
    padding:80px;
}

main, article, header {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    height:39px;
    border:50px dashed black;
    border-radius:10px;
    padding:20px;
}