body{
    display:grid;
    grid-template-areas:
    "header header header header header header header"
    "aside  main main main main main main"
    "footer footer footer footer footer footer footer";
    grid-gap: 0.5rem solid #000;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.o_header {
    grid-area: header;
    padding:0.5%;
    border-width: 0px 0px 3px 0px;
    border-color: aliceblue;
}
.o_aside {
    grid-area: aside;
    background:crimson;
}

.o_main {
    grid-area: main;
    background:fuchsia;
}

.o_footer {
    grid-area: footer;
    padding:5%;
    -ms-flex-align: center;
    background:indigo;
}

.o_header, .o_aside, .o_main, .o_footer{
    color:blue;
}

#imagemmozilla{
    width:10%;
    align-items: left;
    float: left;
}

nav, .itenners{
    place-self: center;
    
    list-style-type: none;
    
}

li {
    list-style-type: none;
}
.divisor{
  box-sizing: border-box;
}

.navcentral{  
    float: left;  
    padding:0.5%;
    display: inline-block;
    margin-left: 10%;
}

.navesquerda{
    float: right;
    padding: 0.5%;
    display: inline-block;
    margin-right:3%;
}

.links{
    text-align: center;
    padding:3%;
    
}

.conteudo, .conteudo2{
    padding:10%;
    box-sizing: border-box;
    float:left;
    border:3px solid #000;
}